<form [formGroup]="registerForm" (ngSubmit)="register()">
  <div class="form-card">
    <div class="card-header">
      <div class="header-title">
        Rejestracja
      </div>
      <div *ngIf="auth.isResponseMessage()" class="header-alert">
        {{auth.responseMessage()}}
      </div>
    </div>
    <div class="card-body">
      <mat-form-field class="body-row">
        <mat-label>Login</mat-label>
        <input matInput type="text" formControlName = "login">
      </mat-form-field>
      <div class="body-row">
        <mat-form-field class="body-row">
          <mat-label>Hasło</mat-label>
          <input matInput type="password" formControlName = "password">
        </mat-form-field>
      </div>
      <div class="body-row">
        <mat-form-field class="body-row">
          <mat-label>Email</mat-label>
          <input matInput type="text" formControlName = "email">
        </mat-form-field>
      </div>
      <div class="body-row">
        <div class="button-box">
          <button mat-raised-button color="primary" type="submit" [disabled]="registerForm.invalid">Zarejestruj się</button>
          <button mat-raised-button type="button" [routerLink]="'/login'">Logowanie</button>
        </div>
      </div>
    </div>
  </div>
</form>
