<form class="form-signin" [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="form-card">
    <div class="card-header">
      <div class="header-title">
        Logowanie
      </div>
      <div *ngIf="auth.IsLogged()" class="header-alert" >
        Błędna nazwa użytkownika lub login
      </div>
    </div>
    <div class="card-body">
      <mat-form-field class="body-row">
        <mat-label>Login</mat-label>
        <input matInput type="text" formControlName="login">
      </mat-form-field>
      <div class="body-row">
        <mat-form-field class="body-row">
          <mat-label>Hasło</mat-label>
          <input matInput type="password" formControlName="password">
        </mat-form-field>
      </div>
      <div class="body-row">
        <div class="button-box">
          <button mat-raised-button color="primary" type="submit" class="btn btn-primary mb-1" [disabled]="loginForm.invalid">Zaloguj się</button>
          <button mat-raised-button type="button" class="btn btn-secondary mb-1" [routerLink]="'/register'">Rejestracja</button>
        </div>
      </div>
    </div>
  </div>
</form>
