/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.form-card
{
  .card-header
  {
    text-align: center;
    padding: 10px 2px;

    .header-title
    {
      font-weight: 500;
      font-size: 1.5em;
    }

    .header-alert
    {
      font-weight: 500;
      margin: 15px 0 0 0;
    }
  }

  .card-body
  {
    .body-row
    {
      width: 100%;

      textarea
      {
        min-height: 50px;
        max-height: 100px;
      }
      .button-box
      {
        display: flex;
        justify-content: center;
        button
        {
          margin: 0 5px;
        }
      }

    }
  }

}
