/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

 .mat-dialog-container {
  padding: 0 !important;
}


.form-card
{

  padding: 1rem 1rem 2rem 1rem;
  border-radius: 0.5rem;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  .card-header
  {
    text-align: center;
    padding: 10px 2px;

    .header-title
    {
      font-weight: 500;
      font-size: 1.5em;
    }

  }

  .card-body
  {
    .body-row
    {
      width: 100%;

      textarea
      {
        min-height: 50px;
        max-height: 100px;
      }
      .button-box
      {
        margin-top: 1rem;
        display: flex;
        justify-content: center;
        button
        {
          margin: 0 5px;
        }
      }

    }
  }

}
