.notification-card-inforamtion {
  color: #0f5132;
  background-color: #d1e7dd;
  border-color: #badbcc;
}
.notification-card-warning {
  color: #664d03;
  background-color: #fff3cd;
  border-color: #ffecb5;
}
.notification-card-error {
  color: #842029;
  background-color: #f8d7da;
  border-color: #f5c2c7;
}


.notification-card {
  min-width: 200px;
  max-width: 500px;
  width: fit-content;
  min-height: 50px;
  border: 1px solid transparent;
  border-radius: .25rem;
  padding: 5px 50px 5px 10px;
  margin: 5px 0;
  opacity: 1;
  z-index: 100;
  font-size: 13px;
  position: relative;

  .notification-button-remove
  {
    position: absolute;
    right: 20px;
    top: 0;
    width: 30px;
    height: 25px;
    line-height: 25px;
    mat-icon
    {
      transform: scale(0.8);
      opacity: 0.5;
      transition: all 2s cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    mat-icon:hover
    {
      opacity: 1;
      transform: scale(0.85);
    }
  }

  .notification-title {
    font-size: 1em;
    font-weight: 500;
  }

  .notification-description {
    font-size: 0.8em;
    word-wrap: break-word;
    padding: 0 0 0 2px;
  }
}
